<div class="container">
    <form class="login">
        <h1>Вход</h1>
        <label class="login-label">
            <p>Telegram username</p> 
            <div class="input-block text">
                <input type="text" class="login-data" placeholder="Введите логин">
                <img src="icons/telegram.svg" class="telegram">
            </div>
        </label>
        <label class="login-label">
            <p>Пароль</p>
            <div class="input-block password">
                <input type="password" class="login-data" placeholder="Введите пароль">
                <img src="icons/eye-off.svg" class="eye-off">
            </div>
        </label>
        <button type="submit" class="btn">Войти</button>
    </form>
    <div class="logo"></div>
</div>
